# Created by https://www.toptal.com/developers/gitignore/api/nim
# Edit at https://www.toptal.com/developers/gitignore?templates=nim

# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

### Nim ###
nimcache/
nimblecache/
htmldocs/
nimble.paths


# End of https://www.toptal.com/developers/gitignore/api/nim
